<%- include("templates/header") %>
Log in
<form action='/loginUser' method='post'>
    <input id='email' name='email' type='text' placeholder='email'></input>
    <input id='password' name='password' type='password' placeholder='password'></input>
    <button id='submitSignUp' name='submitSignUp'>Submit</button>
</form>
<%- include("templates/footer") %>